.content{
  width: 64%;
  float: left;
  padding: 0 0 0 25px;
  background: Ivory;
  height: 100%
}
.sidebar{
  width: 35%;
  float: right;
  padding: 0 10px 0 10px;
  background: Khaki;
  height: 100%
}
h1{
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}
body{
  color: black;
  background: Ivory;
}
#date{
  color: blue;
  font-size: 12px;
  font-style: italic;
}
#ch{
  color: blue;
  font-size: 15px;
  font-style: italic;
  border-bottom: 1px;
}
input[type='text']{
  color: black;
}
#pcount{
  font-size: 30px;
  color: DarkViolet;
  font-weight: bold;
}
